[package]
name = "js_int"
version = "0.1.0"
authors = ["Jonas Platte <jplatte+git@posteo.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.serde]
version = "1.0.92"
optional = true
default-features = false
features = ["derive"]

[dev-dependencies]
serde_json = "1.0.39"
