name: Rust 1.35

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: '1.35'
        profile: minimal
        override: true
    - name: Check (no features)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --no-default-features
    - name: Check (all features)
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all-features
